.task-board {
  display: flex;
  justify-content: space-between;
}
.tasks {
  min-height: 2em;
  min-width: 12em;
  &_open {
    border: 2px solid black;
  }
  &_done {
    border: 2px solid black;
  }
  &_dropable {
    border-color: green;
    * {
      pointer-events: none;
    }
  }
}
.task {
  padding: 4px;
  transition: all 0.3s ease;
  &[draggable] {
    cursor: pointer;
  }
  &_away {
    opacity: 0.1;
    padding-top: 0;
    padding-bottom: 0;
  }
}
