.App {
  margin: 2em;
}
.pieces {
  position: relative;
  width: 100%;
  height: calc(98vh - 4em);
  min-height: 700px;

  &_draggable-zone {
  }
  .piece {
    &__img {
      transition: transform 0.3s ease;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-radius: 2px;
    }
    &_draggable {
      cursor: pointer;
      position: absolute;
    }
    &_placed {
      .piece__img {
        border-radius: 0;
        text-shadow: 1px 1px 2px white;
      }
    }

    &_away {
      opacity: 0.001;
    }
  }
}
